In [1]:
### 1. Load and Display the Dataset  
#- Read the CSV file (`employees.csv`) into a Pandas **DataFrame**.  
#- Display the **first 5 rows** using `head()`. 

import pandas as pd
employees=pd.read_csv("employees.csv")
print(employees.head())

   Employee_ID           Name  Age Department  Salary Joining_Date  \
0          101       John Doe   28         IT   50000   2018-06-15
1          102     Jane Smith   32         HR   60000   2016-09-23
2          103    Emily Davis   45    Finance   80000   2012-11-04
3          104  Michael Brown   29         IT   55000   2019-07-12
4          105   Chris Wilson   35  Marketing   62000   2015-03-19

            City
0       New York
1    Los Angeles
2        Chicago
3       New York
4  San Francisco

In [2]:
### 2. Find Basic Statistics of the Dataset  
#- Calculate the **average age** and **average salary** of employees.  
#- Find the **oldest and youngest employee** in the dataset.  

# Calculate average age and salary
average_age = employees['Age'].mean()
average_salary = employees['Salary'].mean()
print(f"Average Age: {average_age}")
print(f"Average Salary: {average_salary}")

# Find oldest and youngest employee
oldest_employee = employees.loc[employees['Age'].idxmax()]
youngest_employee = employees.loc[employees['Age'].idxmin()]
print(f"Oldest Employee: {oldest_employee['Name']}")
print(f"Youngest Employee: {youngest_employee['Name']}")

Average Age: 35.75
Average Salary: 65375.0
Oldest Employee: David Lee
Youngest Employee: Robert White

In [3]:
### 3. Find Employees in a Specific Department  
#- Filter the **IT department** employees and display their details.  
#- Find the **average salary of IT employees**.

# Filter IT department employees
it_employees = employees[employees['Department'] == 'IT']
print(it_employees)

# Average salary of IT employees
average_it_salary = it_employees['Salary'].mean()
print(f"Average Salary of IT Employees: {average_it_salary}")

   Employee_ID           Name  Age Department  Salary Joining_Date      City
0          101       John Doe   28         IT   50000   2018-06-15  New York
3          104  Michael Brown   29         IT   55000   2019-07-12  New York
Average Salary of IT Employees: 52500.0

In [4]:
### 4. Count Employees in Each Department  
#- Group the data by **Department** and count the number of employees in each department.  
#- Display the department with the **highest number of employees**. 

# Group by department and count employees
department_counts = employees.groupby('Department')['Employee_ID'].count()
print(department_counts)

# Department with the highest number of employees
department_with_most_employees = department_counts.idxmax()
print(f"Department with most employees: {department_with_most_employees}")

Department
Finance      2
HR           2
IT           2
Marketing    2
Name: Employee_ID, dtype: int64
Department with most employees: Finance

In [5]:
### 5. Find the Highest Paid Employee in Each Department  
#- Use Pandas to **group the data by Department** and find the employee with the **highest salary** in each department.

# Group by department and find highest salary
highest_paid_by_department = employees.loc[employees.groupby('Department')['Salary'].idxmax()]
print(highest_paid_by_department[['Department', 'Name', 'Salary']])

  Department           Name  Salary
6    Finance      David Lee   95000
5         HR  Sarah Johnson   72000
3         IT  Michael Brown   55000
4  Marketing   Chris Wilson   62000

In [6]:
### 6. Add a New Column: Years of Experience  
#- Calculate the **years of experience** of each employee using their **Joining_Date**.  
#- Add a new column called **"Years_of_Experience"**.  


# Calculate years of experience
employees['Joining_Date'] = pd.to_datetime(employees['Joining_Date']) 
employees['Years_of_Experience'] = (pd.to_datetime('today') - employees['Joining_Date']).dt.days / 365.25  
print(employees[['Name', 'Joining_Date', 'Years_of_Experience']])

            Name Joining_Date  Years_of_Experience
0       John Doe   2018-06-15             6.743326
1     Jane Smith   2016-09-23             8.468172
2    Emily Davis   2012-11-04            12.353183
3  Michael Brown   2019-07-12             5.670089
4   Chris Wilson   2015-03-19             9.984942
5  Sarah Johnson   2014-05-28            10.792608
6      David Lee   2010-12-17            14.236824
7   Robert White   2020-08-01             4.613279

In [7]:
### 7. Find Employees Who Joined Before 2015  
#- Extract all employees who joined the company **before 2015**.  

# Filter employees who joined before 2015
employees_before_2015 = employees[employees['Joining_Date'].dt.year < 2015]
print(employees_before_2015)

   Employee_ID           Name  Age Department  Salary Joining_Date  \
2          103    Emily Davis   45    Finance   80000   2012-11-04
5          106  Sarah Johnson   40         HR   72000   2014-05-28
6          107      David Lee   50    Finance   95000   2010-12-17

          City  Years_of_Experience
2      Chicago            12.353183
5  Los Angeles            10.792608
6      Chicago            14.236824

In [8]:
### 8. Sort Employees by Salary (Highest to Lowest)  
#- Sort the dataset by **Salary** in descending order and display the top 5 highest-paid employees. 

# Sort by salary in descending order
sorted_employees = employees.sort_values(by=['Salary'], ascending=False)
print(sorted_employees[['Name', 'Salary']])

            Name  Salary
6      David Lee   95000
2    Emily Davis   80000
5  Sarah Johnson   72000
4   Chris Wilson   62000
1     Jane Smith   60000
3  Michael Brown   55000
0       John Doe   50000
7   Robert White   49000

In [9]:
### 9. Find Missing Values and Handle Them  
#- Modify the dataset by adding some missing values (`NaN`).  
#- Find and **fill the missing values** using appropriate methods (mean, median, or a default value).

import numpy as np

# Introduce some missing values (NaN)
employees.loc[employees.sample(frac=0.1).index, 'Salary'] = np.nan
employees.loc[employees.sample(frac=0.1).index, 'Age'] = np.nan

# Fill missing values:
# - Salary with mean
employees['Salary'].fillna(employees['Salary'].mean(), inplace=True)
# - Age with median
employees['Age'].fillna(employees['Age'].median(), inplace=True)

# Display the updated DataFrame (optional)
print(employees)

   Employee_ID           Name   Age Department        Salary Joining_Date  \
0          101       John Doe  28.0         IT  50000.000000   2018-06-15
1          102     Jane Smith  32.0         HR  60000.000000   2016-09-23
2          103    Emily Davis  32.0    Finance  80000.000000   2012-11-04
3          104  Michael Brown  29.0         IT  55000.000000   2019-07-12
4          105   Chris Wilson  35.0  Marketing  65857.142857   2015-03-19
5          106  Sarah Johnson  40.0         HR  72000.000000   2014-05-28
6          107      David Lee  50.0    Finance  95000.000000   2010-12-17
7          108   Robert White  27.0  Marketing  49000.000000   2020-08-01

            City  Years_of_Experience
0       New York             6.743326
1    Los Angeles             8.468172
2        Chicago            12.353183
3       New York             5.670089
4  San Francisco             9.984942
5    Los Angeles            10.792608
6        Chicago            14.236824
7  San Francisco             4.613279

C:\Users\kikuj\AppData\Local\Temp\ipykernel_13844\780680529.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  employees['Salary'].fillna(employees['Salary'].mean(), inplace=True)
C:\Users\kikuj\AppData\Local\Temp\ipykernel_13844\780680529.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  employees['Age'].fillna(employees['Age'].median(), inplace=True)

In [11]:
### 10. Save the Updated Data to a New CSV File  
#- After performing all operations, save the modified DataFrame to a new CSV file called `updated_employees.csv`. 

# Save the updated DataFrame to a new CSV file
employees.to_csv('updated_employees.csv', index=False)